@import '../../../global/system';

.input-wrap {
  position: relative;

  input {
    @include common-text;
    border: 0;
    border-radius: 59px;
    box-sizing: border-box;
    height: 70px;
    padding: 0 30px;
    width: 100%;

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: $very-dark-brown;
    }

    @media (max-width: $breakpt-medium) {
      height: 46px;
      line-height: 46px;
      padding: 0 20px;
      font-size: 16px;
    }
  }

  .search-button {
    background-color: rgba($white, 0);
    border: 0;
    border-bottom-right-radius: 35px;
    border-top-right-radius: 35px;
    height: 70px;
    position: absolute;
    right: 0;
    top: 0;
    transition: background-color .25s;
    width: 70px;

    @media (max-width: $breakpt-medium) {
      height: 46px;
      width: 46px;
    }

    &:hover {
      background-color: rgba($black, 0.1);
      cursor: pointer;
    }

    &:focus {
      outline: none;
    }

    .icon {
      fill: $very-dark-brown;
      width: 25px;

      &.loading-icon:after {
        height: 13px;
        width: 13px;
      }
    }
  }
}
