@font-face {
  font-display: swap;
  font-family: Montserrat;
  font-style: normal;
  src: url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
}

@font-face {
  font-display: swap;
  font-family: 'Mystery Quest';
  font-style: normal;
  font-weight: 400;
  src: url('https://fonts.googleapis.com/css2?family=Mystery+Quest&display=swap');
}

$main-font-family: 'Montserrat', sans-serif;
$special-font-family: 'Mystery Quest', serif;

@mixin common-text {
  color: $very-dark-brown;
  font-family: $main-font-family;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.22;
}
