$main-font-family: 'Montserrat', sans-serif;
$special-font-family: 'Mystery Quest', serif;

@mixin common-text {
  color: $very-dark-brown;
  font-family: $main-font-family;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.22;
}
