@import "../../global/system.scss";

.breeds-list {
  margin-bottom: 106px;
  padding: 0;

  h1 {
    font-size: 36px;
    margin-bottom: 52px;
  }

  .breed-link {
    &:hover {
      .breed-description {
        background-color: rgba($light-brown, .1);
      }
    }

    .breed-description {
      border-radius: 24px;
    }
  }

  .cat-card:first-child:before {
    content: none;
  }
}
