@import "../../global/system.scss";

.breeds-list {
  margin-bottom: 106px;
  padding: 0;

  h1 {
    font-size: 36px;
    margin-bottom: 52px;
  }

  .loading-icon {
    width: 100%;
    height: calc(100vh - 421px);
    display: flex;
    justify-content: center;
    align-items: center;

    &:after {
      width: 100px;
      height: 100px;
      border-width: 15px;
    }
  }
}
