@import '../global/system';

.breed-details {
  .breed-description {
    align-items: flex-start;

    .cat-card {
      flex: 1.5 1.5;
      margin: 0 50px;

      &:hover {
        flex: 3 3;
      }
    }

    .text-wrap {
      margin: 0 50px;
    }
  }

  .loading-icon {
    width: 100%;
    height: calc(100vh - 421px);
    display: flex;
    justify-content: center;
    align-items: center;

    &:after {
      width: 100px;
      height: 100px;
      border-width: 15px;
    }
  }
}
