@import '../../../global/system';

.heading {
  .heading-tab {
    margin-bottom: 36px;
  
    hr {
      width: 60px;
    }
  }
  
  .heading-title {
    @include flex-horizontal;
    align-items: flex-end;
    margin-bottom: 46px;
  
    h1 {
      max-width: 540px;
    }
  
    .link {
      margin-bottom: 12px;
    }
  }
}
