@import '../../global/system';

.main {
  margin: 0 18px;

  @media (min-width: $breakpt-small) {
    margin: 0 96px;
  }

  .logo-wrap {
    margin: 26px 0 30px;
    width: 128px;

    @media (max-width: $breakpt-small) {
      margin: 23px 0;
    }
  }
}
